:root {
  --vmin: 1vmin;
  --vmax: 1vmax;
}

.debug {
  position: fixed;

  top: 25px;
  left: 25px;

  color: white;

  pointer-events: none;
}

.fullscreen {
  position: fixed;

  top: 0;
  right: 0;

  margin: 10px;

  border-radius: 5px;

  background: rgba(255, 255, 255, 0.1);

  cursor: pointer;

  z-index: 10;
}

.controller {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 10px;
  grid-auto-flow: row;
  grid-template-areas:
    ". . directions directions"
    ". . directions directions"
    "shoot break directions directions"
    "shoot break directions directions";

  position: fixed;

  width: 100vmax;
  width: calc(100 * var(--vmax));
  height: 100vmin;
  height: calc(100 * var(--vmin));

  padding: 10px;

  color: white;

  box-sizing: border-box;
}
@media screen and (orientation: portrait) {
  .controller {
    transform: translateX(calc(50vmin - 50vmax))
      translateY(calc(50vmax - 50vmin)) rotate(90deg);
    transform: translateX(calc(50 * var(--vmin) - 50 * var(--vmax)))
      translateY(calc(50 * var(--vmax) - 50 * var(--vmin))) rotate(90deg);
  }
}

.controller > * {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 3px;
}

.directions {
  position: relative;
  grid-area: directions;
}

.joystick {
  position: absolute;

  width: 100%;
  height: 100%;
}

.shoot {
  grid-area: shoot;
}

.break {
  grid-area: break;
}

[data-button].is--active {
  background: #ff930078;
}
